.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url('../../assets/bg2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  z-index: 1;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
}

.videoItem {
  position: relative;
  width: 85%;
  z-index: 10;
}

.box {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  margin-left: 3rem;
  
  h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    text-align: left;
    margin-bottom: 3rem;
  }

  p {
    font-size: 1.2rem;
    color: #fff;
    text-align: left;
    margin-bottom: 1rem;
  }
}

.videoBox {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  flex: 1 1 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.videoMarquee {
  z-index: 0;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: space-between;
  opacity: 0.45;
  filter: blur(4px);
}

.videoMarqueeItem {
  // width: 45%;
  &:nth-child(1) {
   margin-right: 2rem;
   animation: vertical-marquee 30s linear infinite;
  }
  &:nth-child(2) {
    margin-left: 2rem;
    animation: vertical-marquee 30s linear infinite reverse;
  }
  img {
    &:not(:first-of-type) {
      margin-top: 3rem;
    }
  }
}

@keyframes vertical-marquee {
  0% { transform: translateX(0); }
  100% { transform: translateY(-50%); }
}

@media screen and (max-width: 768px) {
  .section {
    height: 100%;
    width: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 2rem 0;

    .videoBox {
      width:100%;
    }
  }

  .videoItem {
    margin: 0 1rem;
    width: 80%;
  }

  .box {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;

    h1 {
      margin: 0 0 1rem 0;
      // font-size: 28px;
    }

    p {
      margin: 0;
      line-height: 1.2rem;
    }
  }

  // .marquee {
  //   display: flex;
  //   align-items: center;
  //   padding: 0.5rem 0;
  //   background: #FFFFFF;
  //   overflow: hidden;
  //   position: relative;
  //   width: 100%;
  // }
}