.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url('../../assets/bg2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  z-index: 1;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.img {
  margin: 0 1rem;
  width: 60%;
}

.box {
  display: flex;
  flex-direction: column;
  width: 40%;
  
  h1 {
    font-size: 24px;
    color: #fff;
    text-align: left;
    margin-bottom: 2rem;
  }

  p {
    font-size: 16px;
    color: #fff;
    text-align: left;
    margin-bottom: 1rem;
  }
}

.marquee {
  // display: flex;
  // align-items: center ;
  // justify-content: flex-start;
  // padding: 0.5rem 0;
  // height: 25px;
  background: #FFFFFF;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.marquee div {
  font-size: 30px;
  // // display: block;
  // width: 200%;
  // height: 30px;
  // background: #FFFFFF;
  margin: 0.4rem 0;
  white-space: nowrap;
  position: relative;
  // overflow: hidden;

  animation: marquee 5s linear infinite;
}

.marquee span {
  padding-right: 1.5rem;
  color: black
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-226.32px); }
}

@media screen and (max-width: 768px) {
  .section {
    height: 100%;
    width: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 2rem 0;
  }

  .img {
    margin: 0 1rem;
    width: 100%;
  }

  .box {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;

    h1 {
      margin: 0 0 1rem 0;
      font-size: 24px;
    }

    p {
      margin: 0;
      line-height: 1.2rem;
    }
  }

  // .marquee {
  //   display: flex;
  //   align-items: center;
  //   padding: 0.5rem 0;
  //   background: #FFFFFF;
  //   overflow: hidden;
  //   position: relative;
  //   width: 100%;
  // }
}